<section id="work">
    <br>
    <br>
    
    <div class="row" id="projects">
        <div class="col"></div>
        <div class="col d-flex justify-content-center titleline"><span>Check out my work</span></div>
        <div class="col"></div>
    </div>
    <div class="space"> </div>
    
    <div class="container-fluid d-flex justify-content-center project">
        <div class="row d-flex justify-content-center">
            <div class="col-6 col-sm-12 project_img" data-aos="fade-right" data-aos-delay="300"> <img src="assets\Img\IMG_Encuesta.png" alt="encuesta"></div>
            <div class="col-6 col-sm-12 project_data" data-aos="fade-left"data-aos-delay="450"> <a href="https://codepen.io/pablo-romero-enjamio/pen/qBPXbPR"><p>Survey Form</p></a></div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center project">
        <div class="row d-flex justify-content-center">
            <div class="col-6 project_data" data-aos="fade-left"data-aos-delay="450"><a href="https://codepen.io/pablo-romero-enjamio/pen/vYeJjNx"><p>Basic Store</p></a></div>
            <div class="col-6 project_img" data-aos="fade-right" data-aos-delay="300"> <img src="assets\Img\IMG_BasicStore.png" alt="encuesta"></div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center project">
        <div class="row d-flex justify-content-center">
            <div class="col-6 project_img" data-aos="fade-right" data-aos-delay="300"> <img src="assets\Img\IMG_Documentacion.png" alt="encuesta"></div>
            <div class="col-6 project_data" data-aos="fade-left"data-aos-delay="450"><a href="https://codepen.io/pablo-romero-enjamio/pen/RwLZJzX"><p>Technical Data Webpage</p></a></div>
        </div>
    </div>

</section>