<section class="container-fluid flex-nowrap" id="info">
    <div class="row infoTitle"> 
        <div class="col-11 d-flex justify-content-start"><h4>Experience</h4></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-solid fa-plus butn"></i></div>
     </div>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"></div>
        <div class="col-10 d-flex justify-content-start"><span>Electronic Technician</span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row infoTitle flex-nowrap"> 
        <div class="col-11 d-flex justify-content-start"><h4>Education</h4></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-solid fa-plus butn"></i></div>
     </div>
    <div class="row data flex-nowrap">
        <div class="col-1  d-flex justify-content-center profileImg"><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEZqbCyFy_qoA/company-logo_200_200/0/1619744670050?e=1668038400&v=beta&t=lEzQVbEN61-QOi-OSntRDo7r96yAREPLsz6kC4ZQjes" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>Electronic Technician - E.T.17 D.E.13 "B.G.Cornelio Saavedra" 2008-2013</span> </div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFJtaUM_Seg8Q/company-logo_100_100/0/1650981288951?e=1668038400&v=beta&t=-c7Tik5z2JLq4PdRpQrSC4lcD_NuZni_PJEp7bBbj54" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>Software Engineer - "Techtitute University" 2021 - On course</span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row infoTitle flex-nowrap"> 
        <div class="col-11 d-flex justify-content-start"><h4>Courses</h4></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-solid fa-plus butn"></i></div>
     </div>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://play-lh.googleusercontent.com/MoaYYQjGtmGLhG9HbjCDKyj44kwHj1HfbCI2Am70elRm35vJ-u4y4X5uEJjP97MAAsU" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>Responsive web design - "Free Code Camp" 2021</span><img src="" alt=""></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>Fullstack Developer - "Argentina Programa" 2022 - On course </span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://wmc-euw.b-cdn.net/profile/programacodoacodo/profile_pic.webp" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>Fullstack Developer - "Codo a Codo 4.0" 2022 - On course </span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row infoTitle flex-nowrap"> 
        <div class="col-11 d-flex justify-content-start"><h4>Certificates</h4></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-solid fa-plus butn"></i></div>
     </div>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFJtaUM_Seg8Q/company-logo_100_100/0/1650981288951?e=1668038400&v=beta&t=-c7Tik5z2JLq4PdRpQrSC4lcD_NuZni_PJEp7bBbj54"></div>
        <div class="col-10 d-flex justify-content-start"><span>MCERL - C1 English Level - "Techtitute University" </span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
    <div class="row data flex-nowrap">
        <div class="col-1 d-flex justify-content-center profileImg"><img src="https://pbs.twimg.com/media/EwoPuUGW8AUfyWx.jpg" alt=""></div>
        <div class="col-10 d-flex justify-content-start"><span>MCERL - B2 English Level - "British Council" </span></div>
        <div class="col-1 d-flex justify-content-center"><i class="fa-regular fa-pen-to-square butn"></i><i class="fa-regular fa-trash-can butn"></i></div>
    </div>
    <br>
</section>