.profileImg img {
    object-fit: scale-down;
    max-width: 70%;
    min-width: 40px;
}

.row.infoTitle {
    background-color: rgb(100, 255, 255, .3);
    border-radius: 3%;
    min-height: 2em;
}
.row.data {
    background-color: rgba(225, 223, 220, 0.7);
    border-radius: 3%;
    min-height: 3em;
}

.row.data div:nth-child(2) {
    display: flex;
    justify-content: start;
    align-items: center;
}

.butn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 1em 0 0;
   
}

.butn:hover {
    color: blue;
}

.space{
    height: 20vh;
}