<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRomero Devs</title>    
</head>
<body>
    <app-flag></app-flag>
    <div class="space"></div>
    <app-aboutme></app-aboutme>
    <div class="space"></div>
    <app-proyects></app-proyects>
    <div class="space"></div>
    <app-experience></app-experience>
    <div class="space"></div>


    <section class="container-fluid" id="contact">
        <div class="container-fluid d-flex justify-content-center">
            <h3>Let's work together</h3>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <p>Feel free to contact me with your projects in mind</p>
        </div>
        
        <div class="container-fluid d-flex justify-content-center">
            <a
            id="facebook-profile"
            href="https://facebook.com/Pablo.Romero95"
            target="_blank"
            class="btn contact-details"
            ><i class="fab fa-facebook-square"></i> Facebook</a>
            <a
            id="github-profile"
            href="https://github.com/pabloromero95"
            target="_blank"
            class="btn contact-details"
            ><i class="fab fa-github"></i> GitHub</a>
            <a href="mailto:pabloromeroenjamio@gmail.com" class="btn contact-details"
            ><i class="fas fa-at"></i> Mail me</a>
            <a
            id="linkedin-profile"
            href="https://www.linkedin.com/in/pablo-romero-enjamio/"
            target="_blank"
            class="btn contact-details"
            ><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </div>
    </section>

    <footer class="container-fluid d-flex justify-content-center" id="Footer">
        Disclaimer: This portfolio was created for the ArgentinaPrograma Project.
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>