<section id="Intro">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col d-flex justify-content-center titleline" data-aos="zoom-in" data-aos-delay="500"><span>Hi! I'm Pablo Romero</span></div>
            <div class="col"></div>
        </div>
        
        <div class="space"></div>
    
        <div class="row d-flex justify-content-center" id="about-section" >
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center about-text" data-aos="flip-down" data-aos-delay="100" data-aos-duration="1000" id="about">
                <span><p><i>About Me</i> <br> <br>
                    Passionate about technology, my job
                is to find the solutions that are needed
                in the most efficient way possible. <br>
                    
                    Since I discovered programming, I learnt
                that I can take the solutions anywhere
                no matter the distance, where and when
                they are required.</p></span>
            </div>
            <div class="col-2"></div>
        </div>  
    </div>
</section>